core
*.pid
*.swp
*.xml
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db
*.db-shm
*.db-journal
*.db-wal
lib
deps
secrets.yaml
known_devices.yaml
phue.conf
pyozw.sqlite
html5_push_registrations.conf
tradfri.conf
.tradfri_psk.conf
*.json
plex.conf
*.pyc
__pycache__
*.yaml.disabled
.uuid
id_rsa.pub
id_rsa
*.token
ip_bans.yaml
project.json
creds.data
tts/*.mp3
plex_cert.sh
entity_registry.yaml
.storage/*
gactions
compiled
appdaemon.yaml
.HA_VERSION
adbkey
adbkey.pub

