*.pid
*.swp
*.xml
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db
*.db-shm
*.db-journal
*.db-wal
lib
deps
secrets.yaml
known_devices.yaml
phue.conf
pyozw.sqlite
html5_push_registrations.conf
tradfri.conf
.tradfri_psk.conf
*.json
plex.conf
*.pyc
__pycache__
*.yaml.disabled
.uuid
.HA_VERSION

