home_latitude: 0.00000
home_logitude: 0.00000
home_elevation: ##
http_api_password: #####
mqtt_broker: #####
mqtt_username: #####
mqtt_password: #####
slack_api_key: #####
livingroom_kodi_username: #####
livingroom_kodi_password: #####
firestick_kodi_username: #####
firestick_kodi_password: #####
gcm_api_key: #####
gcm_sender_id: #####
tradfri_api_key: ####
tradfri_host: ####
