home_latitude: 0
home_logitude: 0
home_elevation: ##
http_api_password: #####
mqtt_username: #####
mqtt_password: #####
slack_api_key: #####
livingroom_kodi_username: #####
livingroom_kodi_password: #####
firestick_kodi_username: #####
firestick_kodi_password: #####